@page
@model Ewop2.Pages.EWOP.Cal1Model
@{
}

<head>
    <link rel="stylesheet" href="~/css/site.css" >
</head>

<table class="table">

    <thead>
        <tr>
            <td colspan="7" align="center"><h1>January</h1></td>
        </tr>
        <tr>
            <td width="14%"><h2>Sunday</h2></td>
            <td width="14%"><h2>Monday</h2></td>
            <td width="14%"><h2>Tuesday</h2></td>
            <td width="14%"><h2>Wednesday</h2></td>
            <td width="14%"><h2>Thursday</h2></td>
            <td width="14%"><h2>Friday</h2></td>
            <td><h2>Saturday</h2></td>
            
        </tr>
    </thead>

    <tbody>
        
        
            <tr>
                
                @for (var day = 0; day < 7; day++)
                    {
                    <td width="14%">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><h3>
                                    @Model.CalMonth0[@day].CalDay
                                    </h3></td>
                                </tr>
                        
                                <tr>
                                    <td><h4>
                                    @Model.CalMonth0[@day].CalDyno
                                    </h4></td>
                                </tr>
                                <tr>
                                     <td>
                                        @Model.CalMonth0[@day].CalInfo1
                                    </td>
                                </tr>
                                <tr>
                                     <td>
                                        @Model.CalMonth0[@day].CalInfo2
                                    </td>
                                </tr>
                                <tr>
                                     <td>
                                        @Model.CalMonth0[@day].CalInfo3
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                }<!-- For each day-->
            <tr/>
            <tr>
                @for (var day = 7; day < 14; day++)
                {
                    <td width="14%">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <h3>
                                            @Model.CalMonth0[@day].CalDay
                                        </h3>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h4>
                                            @Model.CalMonth0[@day].CalDyno
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Model.CalMonth0[@day].CalInfo1
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Model.CalMonth0[@day].CalInfo2
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Model.CalMonth0[@day].CalInfo3
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                }<!-- For each day-->
            </tr>

        <tr>
                @for (var day = 14; day < 21; day++)
                {
                <td width="14%">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h3>
                                            @Model.CalMonth0[@day].CalDay
                                    </h3>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h4>
                                            @Model.CalMonth0[@day].CalDyno
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        @Model.CalMonth0[@day].CalInfo1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        @Model.CalMonth0[@day].CalInfo2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        @Model.CalMonth0[@day].CalInfo3
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                }<!-- For each day-->
        </tr>


        <tr>
                @for (var day = 21; day < 28; day++)
                {
                <td width="14%">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h3>
                                            @Model.CalMonth0[@day].CalDay
                                    </h3>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h4>
                                            @Model.CalMonth0[@day].CalDyno
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        @Model.CalMonth0[@day].CalInfo1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        @Model.CalMonth0[@day].CalInfo2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        @Model.CalMonth0[@day].CalInfo3
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                }<!-- For each day-->
        </tr>


        <tr>
                @for (var day = 28; day < 35; day++)
                {
                <td width="14%">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h3>
                                            @Model.CalMonth0[@day].CalDay
                                    </h3>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h4>
                                            @Model.CalMonth0[@day].CalDyno
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        @Model.CalMonth0[@day].CalInfo1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        @Model.CalMonth0[@day].CalInfo2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        @Model.CalMonth0[@day].CalInfo3
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                }<!-- For each day-->
        </tr>


        <tr>
                @for (var day = 35; day < 42; day++)
                {
                <td width="14%">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h3>
                                            @Model.CalMonth0[@day].CalDay
                                    </h3>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h4>
                                            @Model.CalMonth0[@day].CalDyno
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        @Model.CalMonth0[@day].CalInfo1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        @Model.CalMonth0[@day].CalInfo2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        @Model.CalMonth0[@day].CalInfo3
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                }<!-- For each day-->
        </tr>


    </tbody>
</table>


